<div class="tool-map">
  {{ range .Site.Sections }}
  {{ if not .Params.Realtitle}}
  {{ range .Sections }}
  <section class="tool-category" id="cat-{{ .Title}}">
    <header> {{ .Params.Realtitle }} </header>
    {{ range .Pages }}
      <div class='card'  title='{{.Page.Params.tagline_1}}'>
        {{ if .Page.Draft }}
        <div class="isDraft"></div>
        {{ end }}
        <img class='card-img' src='/icons/{{ .Page.Params.icon }}' alt='SUSE-logo' />
        <div class='card-body'>
          <h5 class='card-title'>
            <a href="{{ .Page.RelPermalink }}" > 
              {{ .Page.Title }}
            </a>
          </h5>
          <p class='card-text'>{{ .Page.Params.tagline_1 }}</p>
        </div>
      </div>
    {{ end }}
  </section>
  {{ end }}
  {{ end }}
  {{ end }}
</div>