<aside class="main-menu js-main-menu">
    <div class="mm-navigation-container">
      <header><a class="hide-collapsed" href="https://www.eosdesignsystem.com/"><img src="images/suse-product-brand.svg" alt="SUSE product brand logotype"></a>
        <div class="mm-navigation-close js-sidebar-toggle"><i class="eos-icons js-sidebar-tooltip js-tooltip" data-placement="bottom" title="">menu</i></div>
      </header>

      <div class="nav-wrap">
        <ul class="menu-togglable no-list-style">
          <li class="menu-item">
            <div class="menu-element">
                <span class="main-collapsed-title">Dashboard</span>
            </div>
            <a class="menu-title js-select-current-parent js-feature-flag" href="/">
                <i class="eos-icons">home</i>
                <span class="menu-title-content">Tool Map</span>
            </a>
          </li>

          {{ range .Site.Sections }}
          <hr />
            <li class="menu-item menu-dropdown">
                <input class="js-dropdown-toggle" id="{{ .Title }}-toggle" type="checkbox" value="checked">
                <label class="menu-title" for="{{ .Title }}-toggle"><i class="eos-icons">school</i><span class="menu-title-content">{{ humanize .Title }}</span><i class="eos-icons eos-18 float-right menu-expand">keyboard_arrow_down</i></label>
                <ul class="menu-dropdown-list menu-element">
                <li class="menu-collapsed-title">{{ .Title }}</li>
                {{ range .Pages }}
                  <li><a class="menu-title js-select-current js-feature-flag {{ if false }} selected {{end}}" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
                {{ end }}
                </ul>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <footer class="footer-side-menu">
        <ul class="footer-list">
        <li class="footer-list-item"><a class="footer-link" href="/cookies-policy" data-event-category="Internal link" data-event-action="Cookies policy" data-event-label="Footer">Cookie policy</a></li>
        <li class="footer-list-item"><a class="footer-link" href="https://eosdesignsystem.com/" data-event-category="External link" data-event-action="Link EOS website" data-event-label="Footer" target="_blank" rel="noreferrer nonopener"><img class="js-tooltip" src="/images/eos-logo.svg" data-toggle="tooltip" data-html="true" title="Visit our website" alt="EOS icon"></a></li>
        </ul>
    </footer>
</aside>