<div class="mobile-menu js-mobile-menu">
    <header><a href="/"><img src="images/suse-product-brand.svg" alt="SUSE product brand logotype"></a>
        <div class="burger-menu js-burger-menu"><a><i class="eos-icons">menu</i></a></div>
    </header>
    <nav class="display-nav">
        <div class="nav-wrap">
        <ul class="menu-togglable no-list-style">
            <li class="menu-item">
          <div class="menu-element"><span class="main-collapsed-title">Dashboard</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/"><i class="eos-icons">home</i><span class="menu-title-content">Home</span></a>
            <li class="menu-item menu-dropdown">
                <input class="js-dropdown-toggle" id="documentation-toggle" type="checkbox">
                <label class="menu-title" for="documentation-toggle"><i class="eos-icons">school</i><span class="menu-title-content">Documentation</span><i class="eos-icons eos-18 float-right menu-expand">keyboard_arrow_down</i></label>
                <ul class="menu-dropdown-list menu-element">
                <li class="menu-collapsed-title">Documentation</li>
                <li><a class="menu-title js-select-current js-feature-flag" href="/installing-npm">Installing EOS npm</a></li>
                <li><a class="menu-title js-select-current-parent js-feature-flag" href="/design-specs">Implementing design specs</a></li>
                <li><a class="menu-title js-select-current-parent js-feature-flag" href="/design-kit">Design kit</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <div class="menu-element"><span class="main-collapsed-title">Coming next</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/coming-next"><i class="eos-icons">star</i><span class="menu-title-content">Coming next</span></a>
            </li>
            </li>
            <hr>
            <li class="menu-item">
            <div class="menu-element"><span class="main-collapsed-title">Alerts</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/alerts"><i class="eos-icons">notifications</i><span class="menu-title-content">Alerts</span></a>
            </li>
            <li class="menu-item">
            <div class="menu-element"><span class="main-collapsed-title">Badges</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/badges"><i class="eos-icons">label</i><span class="menu-title-content">Badges</span></a>
            </li>
            <li class="menu-item">
            <div class="menu-element"><span class="main-collapsed-title">Buttons</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/buttons"><i class="eos-icons">crop_16_9</i><span class="menu-title-content">Buttons</span></a>
            </li>
            <li class="menu-item">
            <div class="menu-element"><span class="main-collapsed-title">Cards</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/cards"><i class="eos-icons">recent_actors</i><span class="menu-title-content">Cards</span></a>
            </li>
            <li class="menu-item">
            <div class="menu-element"><span class="main-collapsed-title">Colors</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/colors"><i class="eos-icons">color_lens</i><span class="menu-title-content">Colors</span></a>
            </li>
            <li class="menu-item">
          <div class="menu-element"><span class="main-collapsed-title">Dropdown</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/dropdown"><i class="eos-icons">arrow_drop_down_circle</i><span class="menu-title-content">Dropdown</span></a>
            <li class="menu-item menu-dropdown js-feature-flag">
                <input class="js-dropdown-toggle" id="form-elements-toggle" type="checkbox">
                <label class="menu-title" for="form-elements-toggle"><i class="eos-icons">assignment</i><span class="menu-title-content">Form elements</span><i class="eos-icons eos-18 float-right menu-expand">keyboard_arrow_down</i></label>
                <ul class="menu-dropdown-list menu-element">
                <li class="menu-collapsed-title">Form elements</li>
                <li><a class="menu-title js-select-current js-feature-flag" href="/form-elements/address">Address</a></li>
                <li><a class="menu-title js-select-current js-feature-flag" href="/form-elements/checkbox">Checkbox</a></li>
                <li><a class="menu-title js-select-current js-feature-flag" href="/form-elements/input-fields">Input fields</a></li>
                <li><a class="menu-title js-select-current js-feature-flag" href="/form-elements/radio-buttons">Radio buttons</a></li>
                <li><a class="menu-title js-select-current js-feature-flag" href="/form-elements/select">Select</a></li>
                <li><a class="menu-title js-select-current js-feature-flag" href="/form-elements/text-area">Text area</a></li>
                <li><a class="menu-title js-select-current js-feature-flag" href="/form-elements/toggle">Toggle</a></li>
                </ul>
            </li>
            </li>
            <li class="menu-item">
            <div class="menu-element"><span class="main-collapsed-title">Icons</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/icons"><i class="eos-icons">miscellaneous</i><span class="menu-title-content">Icons</span></a>
            </li>
            <li class="menu-item">
            <div class="menu-element"><span class="main-collapsed-title">Links</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/links"><i class="eos-icons">link</i><span class="menu-title-content">Links</span></a>
            </li>
            <li class="menu-item">
            <div class="menu-element"><span class="main-collapsed-title">Pagination</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/pagination"><i class="eos-icons">settings_ethernet</i><span class="menu-title-content">Pagination</span></a>
            </li>
            <li class="menu-item">
            <div class="menu-element"><span class="main-collapsed-title">Patterns</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/patterns"><i class="eos-icons">patterns</i><span class="menu-title-content">Patterns</span></a>
            </li>
            <li class="menu-item">
            <div class="menu-element"><span class="main-collapsed-title">Tables</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/tables"><i class="eos-icons">grid_on</i><span class="menu-title-content">Tables</span></a>
            </li>
            <li class="menu-item menu-dropdown">
            <input class="js-dropdown-toggle" id="layout-toggle" type="checkbox">
            <label class="menu-title" for="layout-toggle"><i class="eos-icons">web</i><span class="menu-title-content">Templates</span><i class="eos-icons eos-18 float-right menu-expand">keyboard_arrow_down</i></label>
            <ul class="menu-dropdown-list menu-element">
                <li class="menu-collapsed-title">Templates</li>
                <li><a class="menu-title js-select-current js-feature-flag" href="/templates/error-page">Error page</a></li>
                <li><a class="menu-title js-select-current-parent js-feature-flag" href="/layout">Layout</a></li>
                <li><a class="menu-title js-feature-flag js-select-current" href="/templates/sign-in">Sign in</a></li>
            </ul>
            </li>
            <li class="menu-item">
            <div class="menu-element"><span class="main-collapsed-title">Tooltips</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/tooltips"><i class="eos-icons">chat_bubble_outline</i><span class="menu-title-content">Tooltips</span></a>
            </li>
            <li class="menu-item">
            <div class="menu-element"><span class="main-collapsed-title">Typography</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/typography"><i class="eos-icons">text_fields</i><span class="menu-title-content">Typography</span></a>
            </li>
            <li class="menu-item">
            <div class="menu-element"><span class="main-collapsed-title">Writing guides</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/writing"><i class="eos-icons">spellcheck</i><span class="menu-title-content">Writing guides</span></a>
            </li>
        </ul>
      </div>
    </nav>
  </div>