<div class="mobile-menu js-mobile-menu">
    <header><a href="/"><img src="images/suse-product-brand.svg" alt="SUSE product brand logotype"></a>
        <div class="burger-menu js-burger-menu"><a><i class="eos-icons">menu</i></a></div>
    </header>
    <nav class="display-nav">
        <div class="nav-wrap">
        <ul class="menu-togglable no-list-style">
            <li class="menu-item">
          <div class="menu-element"><span class="main-collapsed-title">Tool Map</span></div><a class="menu-title js-select-current-parent js-feature-flag" href="/"><i class="eos-icons">home</i><span class="menu-title-content">Tool Map</span></a>
          
          {{ range .Site.Sections }}
  
          <li class="menu-item menu-dropdown">
            <input class="js-dropdown-toggle" id="documentation-toggle" type="checkbox">
            <label class="menu-title" for="documentation-toggle"><i class="eos-icons">school</i><span class="menu-title-content">{{ humanize .Title }}</span><i class="eos-icons eos-18 float-right menu-expand">keyboard_arrow_down</i></label>
            <ul class="menu-dropdown-list menu-element">
                <li class="menu-collapsed-title">{{ humanize .Title }}</li>

                {{ range .Pages }}
                  <li><a class="menu-title js-select-current js-feature-flag {{ if false }} selected {{end}}" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
                {{ end }}
            </ul>
          </li>
          {{end}}
        </ul>
      </div>
    </nav>
  </div>